.App {
  text-align: center;
}

.data-area-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

td, th {
  /* text-align: left; */
  width:0.1%;
  white-space: nowrap;  
}

.plain-list {
  list-style-type: none
}

.dropdownposition
{
  position: absolute;
  top:110px;
  width:100%;
  display: flow-root;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.dropright .dropdown-menu
{
  left:54% !important;
}

.margin-top-15
{
  margin-top: 15px;
}
.margin-top-10
{
  margin-top: 10px;
}